name: crypto_tracker
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  http: ^1.2.0
  fl_chart: ^0.66.0
  shared_preferences: ^2.2.2
  flutter_local_notifications: ^17.0.0
  device_info_plus: ^12.3.0
  permission_handler: ^12.0.1   # ✅ исправлено на рабочую версию

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
